/* =Simple animation up */
.slideInUp {
    visibility: hidden;
    opacity: 0;
    transition: all 0.7s ease-in-out;
    -webkit-transform: translate3d(0, 190px, 0);
    transform: translate3d(0, 190px, 0);
}

.is-active .slideInUp {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

/* =Main */
p {
    font-size: 20px; }
  
.fs {
    height: 100vh;
    width: 100%; }

.slide {
    color: #ffffff;
    position: relative; }

.slide .wrapper {
    padding-top: 120px;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%);
}

.slide#slide01 {
    background: #31725f;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #31725f), color-stop(100%, #2c4c63));
    background: -webkit-linear-gradient(top, #31725f 0%, #2c4c63 100%);
    background: linear-gradient(to bottom, #31725f 0%, #2c4c63 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#31725f', endColorstr='#2c4c63', GradientType=0 ); }

.slide#slide02 {
    background: #723161;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #723161), color-stop(100%, #632c2d));
    background: -webkit-linear-gradient(top, #723161 0%, #632c2d 100%);
    background: linear-gradient(to bottom, #723161 0%, #632c2d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#723161', endColorstr='#632c2d', GradientType=0 ); }

.slide#slide03 {
    color: #212121;
    background: #e6e9ed;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #e6e9ed), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #e6e9ed 0%, #ffffff 100%);
    background: linear-gradient(to bottom, #e6e9ed 0%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e9ed', endColorstr='#ffffff', GradientType=0 ); }

.slide#slide03 .button {
border-color: rgba(0, 0, 0, 0.7);
color: #212121; }

.slide#slide03 .button:hover {
    border-color: #212121;
    background-color: #212121;
    color: #ffffff; }
    
.slide#slide04 {
    background-color: #be4c2c; }

.button {
text-decoration: none;
color: #ffffff;
border: 1px rgba(255, 255, 255, 0.7) solid;
padding: 8px 15px;
margin-top: 15px;
display: inline-block;
position: relative; }

.button:hover {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #000000; }