// Set media queries based on Foundation's breakpoints
$breakpoints: (
  small: 0px,
  medium: 640px,
  large: 1024px,
  xlarge: 1200px,
  xxlarge: 1440px,
);

// Map set breakpoints 
@function breakpoint($viewport) {
  @return #{map-get($breakpoints, $viewport)};
}

// Example Usage
@media screen and (min-width: breakpoint(small)) { 
}
@media screen and (min-width: breakpoint(medium)) { 
}
@media screen and (min-width: breakpoint(large)) { 
}
@media screen and (min-width: breakpoint(xlarge)) { 
}
@media screen and (min-width: breakpoint(xxlarge)) { 
}
